:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2 rem 9%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover {
  color: var(--pink);
}

header .icons {
  display: flex;
  align-items: center;
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
  text-decoration: none;
}

header .icons a:hover {
  color: var(--pink);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/Video.mp4) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h1 {
  font-size: 6rem;
  color: black;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: darkblue;
  padding: 1rem 0;
  line-height: 1.5;
}

.content video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    text-align: center;
  }

  header #toggler:checked ~ .navbar {
    display: flex;
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
